body{
    background-image: url(download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    width: 350px;
    background-color: #000000ec;
    margin: 0px auto 0px auto;
    padding: 10px 70px 10px 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
}
.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
div > h1{
    font-weight: 700;
    color: #ffffff;
}
.email, .password{
    width: 330px;
    height: 40px;
    background-color: #dcdcdc;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-color: transparent;
}
.password{
    margin-top: 10px;
}
.email input, .password input{
    height: 100%;
    outline: none;
}

a{
   display: flex;
   align-items: left;
   font-size: smaller;
   margin-top: 3px;
   color: rgba(255, 255, 255, 0.6) ;
}
.reminder{
   display: flex;
    justify-content: space-between;
    font-size: smaller;
    color: #ffffff;
    align-items: center;
}
.or{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.log-in{
    width: 340px;
    height: 40px;
    background-color: #ffff;
    border-radius: 40px;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
}
.or-text{
    color: #ffffff;
    padding: 0px 10px 0px 10px;
}
.hr{
    color: rgba(255, 255, 255, 0.6);
}
.facebook, .google, .apple{
    width: 340px;
    height: 40px;
    font-size: x-small;
    border: 1px solid #ffffff;
    margin: 5px 0px 5px 0px;
    border-radius: 40px;
    font-weight: 400px;
    color: #ffffff;
    align-items: center;
    display: flex;
  
}
.login-text{
        margin: 5px auto 5px auto; 
}
.login-icon{
    padding: 7px 0px 5px 5px;
    text-align: left;
}
.apple-logo{
    color: #ffffff;
}
.footer {
    font-size: x-small;
    color: rgba(255, 255, 255, 0.8);
}
 .footer-note{
     font-size: x-small;
     margin-top: 20px;
     color: rgba(255, 255, 255, 0.8);
 }
 .signup{
     text-decoration: underline;
     padding-left: 5px;
     color: #ffffff;
 }
input{
    background-color: transparent;
    border: none;
    border
}
